{% extends 'tree_menu/base.html' %}
{% load menu_tags %}
{% load set_tags %}

{% block content %}

<div class="row g-0">
    <div class="col-2">{% draw_menu 'main_menu' request %}</div>
    <div class="col">
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h2 class="masthead-subheading mb-0">This is not a definite page</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/main_menu/home">home</a>
                </div>
            </div>
        </header>
    </div>
    {% start_with request '/about' as val %}
    {% if val %}
    <div class="col-2">{% draw_menu 'about' request %}</div>
    {% endif %}

</div>

{% endblock %}